<div class="nav-bar">
  <ul>
  <% if current_user %>
  <li>
    <div class="current-user">
      Signed in as: <%= current_user.email %>
    </div>
  </li>
    <li>
      <%= link_to 'Profile', profile_path %>
    </li>
    <li>
      <%= link_to 'Sign Out', auth.sign_out_path %> 
    </li>
  <% else %>
    <li>
      <%= link_to 'Sign In', auth.sign_in_path %>
    </li>
    <li>
      <%= link_to 'Register', register_path %> 
    </li> 
  <% end %>
  </ul>
</div>