<% # Handle case if user tries to log in again, when already signed in %>
<% if current_user %>
  <meta HTTP-EQUIV="REFRESH" content="0; url=<%= url_for profile_path %>">
<% end %>

<% if params[:success] %>
  <div class="flash-messages">
  <%= "Please authenticate to access account" %>
  </div>
<% end %>

<div class='sign-in-social'>
  <ul>
    <li>
      <%= link_to 'Sign in with Google', '/auth/google_oauth2' %>
    </li>
    <li>
      <%= link_to 'Sign in with Facebook', '/auth/facebook' %>
    </li>
    <li>
      <div class='sign-in-email'>
        <div>
          <p>
            Sign in with Email
          </p>
        </div>
        <%= form_for @session, url: send(Passwordless.mounted_as).sign_in_path do |f| %>
          <% email_field_name = :"passwordless[#{@email_field}]" %>
          <%= text_field_tag email_field_name, params.fetch(:email, nil) %>
          <%= f.submit 'Sign in with Email' %>
        <% end %>
      </div>
    </li>
  </ul>
</div>

